DB_URL=mongodb url
BASE_URL=pedidosya base url
PEDIDOSYA_IMG_BASE_URL=pedidosya base image url
PEDIDOSYA_CATEGORY_URL=pedidosya categories link api to fill
PEDIDOSYA_PRODUCT_URL=pedidosya produtcs link api to fill
DATA_MARKETS=[{"marketName": "market name", "partnerId": partner id number}] // partnerId is the market id provided by the PedidosYa API

// If you want an example working env send me a email
